<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社团和部门管理 </title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/superadmin2.js"></script>
</head>

<body>
    <div class="modal fade" id="myModal3" aria-labelledby="myModallabel" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title"></h5>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-lg-2">旧密码：</label>
                            <div class="col-lg-9">
                                <input id="oldpwd" type="password" placeholder="password" value="" name="password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">新密码：</label>
                            <div class="col-lg-9">
                                <input id="ipwd" type="password" placeholder="password" value="" name="password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">确认密码：</label>
                            <div class="col-lg-9">
                                <input id="i2pwd" type="password" placeholder="password" value="" name="password"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <p id="msg_pwd" style="margin-left: 110px"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">close</button>
                        <button class="btn btn-success" type="button" disabled="disabled" data-dismiss="modal"
                            id="btn_changepwd" onclick="changepassword()">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="welcome"></a>
                    </li>
                    <li><a data-target="#myModal3" data-toggle="modal">修改密码</a>
                    </li>
                    <li><a onclick="logout()">安全退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="http://localhost:8081/superadmin/index" class="list-group-item ">
                    <span class="glyphicon glyphicon-pencil">
                    </span> 用户管理</a>
                <a href="http://localhost:8081/superadmin/club" class="list-group-item active">
                    <span class="glyphicon glyphicon-user" aria-hidden="true">
                    </span> 社团和部门管理</a>
                <a href="http://localhost:8081/superadmin/admin" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </span> 组织负责人管理</a>
                <a href="http://localhost:8081/superadmin/activity" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </span> 活动审核</a>
                <a href="http://localhost:8081/superadmin/comment" class="list-group-item">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                    </span>评论管理</a>
            </div>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">社团和部门管理
                    </li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        搜索和添加组织
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="name">组织名</label>
                                <input id="clubname1" type="text" class="form-control" placeholder="请输入名称">
                            </div>
                            <div class="form-group">
                                <button onclick="search()" type="button" class="btn btn-success">开始搜索</button>
                                <button onclick="clearsearch()" type="button" class="btn btn-default">清除</button>
                                <button onclick="refreshpage()" type="button" class="btn btn-default">刷新</button>
                            </div>
                        </form>
                        </br>
                        <form role="form" class="form-inline"></form>
                        <label for="name">添加组织</label>
                        <button class="btn btn-success" data-target="#myModal" data-toggle="modal">
                            点击添加
                        </button>
                        <div class="modal fade" id="myModal" aria-labelledby="myModallabel" aria-hidden="true"
                            tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" type="button" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        <h5 class="modal-title" id="myModallabel">添加组织</h5>
                                    </div>
                                    <form id="formData" class="form-horizontal">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">组织名：</label>
                                                <div class="col-lg-9">
                                                    <input id="clubname" type="text" value="" name="clubname"
                                                        placeholder="组织名" class="form-control"></br>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">上传组织logo：</label>
                                                <div class="col-lg-9">
                                                    <input id="fileName1" type="file" class="fileName1" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">介绍：</label>
                                                <div class="col-lg-9">
                                                    <textarea id="introduce" placeholder="   介绍" name="introduce"
                                                        cols="56" rows="7" warp="virtual "
                                                        style="border: 1px solid #DDD;resize:none"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-default" type="button"
                                                data-dismiss="modal">close</button>
                                            <button class="btn btn-success" type="button" 
                                                onclick="createclub()">submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <!--
                    列表展示
                -->
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>组织名</th>
                                <th>介绍</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1">
                        </tbody>
                    </table>
                </div>
                <ul id="ul1" class="pagination" style="float: right;">

                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="text-center">
            TKKC社团组织管理系统
        </p>
    </div>
</body>


</html>